<header class="site-header" role="banner">

  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <div class="social-links">
      {%- if site.github_username -%}
        <a href="https://github.com/{{ site.github_username | cgi_escape | escape }}">
          <svg class="svg-icon">
            <use xlink:href="{{ '/assets/custom-social-icons.svg#github' | relative_url }}"></use>
          </svg>
        </a>
      {%- endif -%}
      {%- if site.linkedin_username -%}
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username | cgi_escape | escape }}">
          <svg class="svg-icon">
            <use xlink:href="{{ '/assets/custom-social-icons.svg#linkedin' | relative_url }}"></use>
          </svg>
        </a>
      {%- endif -%}
    </div>
  </div>
</header>
