/* Header */
.site-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin-left: auto;
}

.social-links a {
  display: inline-block;
}

.social-links .svg-icon {
  width: 26px;
  height: 26px;
}

/* Footer */
.footer-col .svg-icon {
  width: 19px;
  height: 19px;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

.contact-list, .social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
  color: #828282;
}

.footer-col {
  flex: 1;
  margin-bottom: 15px;
  padding-left: 15px;
  min-width: 200px;
}

.footer-col.fc1 {
  flex: 2;
}

.footer-col.fc2 {
  flex: 2;
  margin-bottom: 30px;
}

.footer-col.fc3 {
  flex: 1;
}

.social-links .svg-icon {
  width: 26px;
  height: 26px;
}

@media screen and (max-width: 800px) {
  .footer-col {
    flex: 1 1 50%;
  }
}

@media screen and (max-width: 600px) {
  .footer-col {
    flex: 1 1 100%;
  }
}

@media screen and (min-width: 800px) {
  .footer-col.fc2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.intro-text {
  padding-top: 10px;
}

.footer-col.fc3 .social-media-list li {
  text-align: start;
}

/* Home Page */
.pagination {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.post-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.post-thumbnail {
  flex-shrink: 0;
  margin-right: 20px;
}

.post-thumbnail img {
  width: 120px;
  height: auto;
}

.post-details {
  flex-grow: 1;
}
