<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {% seo %}
</head>

<body>
  <header class="header-container">
    <div>
      <h1>{{ site.title }}</h1>
      <p>{{ site.description }}</p>
    </div>
    <div class="social-links">
      <a href="{{ site.social.linkedin }}" class="button">LinkedIn</a>
      <a href="{{ site.social.github }}" class="button">GitHub</a>
      <a href="{{ site.social.bluesky }}" class="button">BlueSky</a>
    </div>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>
</body>

</html>
